.vagrant
*.temp
**/spec/examples.txt
unifi
*.pyc
__pycache__

*.gz

/ssl/*

/stacks/home/zigbee2mqtt/*
!/stacks/home/zigbee2mqtt/configuration.yaml

/stacks/home/config/*
!/stacks/home/config/configuration.yaml
!/stacks/home/config/customize.yaml
!/stacks/home/config/automations.yaml
!/stacks/home/config/blueprints/
!/stacks/home/config/scenes.yaml
!/stacks/home/config/scripts.yaml
!/stacks/home/config/sensor.yaml
!/stacks/home/config/custom_components/
!/stacks/home/config/www/
/stacks/home/config/www/floorplans/
/stacks/home/config/www/media/
/stacks/home/config/www/tmp/
!/stacks/home/config/ui_lovelace_minimalist/
!/stacks/home/config/themes/
!/stacks/home/config/dwains-dashboard/

/stacks/home/espresence/.storage/

*.glb
*.old

/stacks/home/adguard/workdir/

/stacks/home/grafana/

/stacks/home/influxdb

/stacks/home/nodered/*
!/stacks/home/nodered/settings.js
!/stacks/home/nodered/flows.json

/stacks/home/musicassistant
/stacks/home/piper
/stacks/home/whisper

/stacks/*
!/stacks/proxy-manager
!/stacks/snipeit
!/stacks/paperless
!/stacks/vikunja
!/stacks/networks
!/stacks/etherpad
!/stacks/container_registry
!/stacks/home

/stacks/proxy-manager/*
!/stacks/proxy-manager/docker-compose.yml
!/stacks/proxy-manager/fail2ban.env
!/stacks/proxy-manager/data_f2b
/stacks/proxy-manager/data_f2b/*
!/stacks/proxy-manager/data_f2b/jail.d
!/stacks/proxy-manager/data_f2b/filter.d
!/stacks/proxy-manager/data_f2b/action.d

/stacks/vikunja/*
!/stacks/vikunja/docker-compose.yml

/stacks/paperless/*
!/stacks/paperless/docker-compose.yml

/stacks/snipeit/*
!/stacks/snipeit/docker-compose.yml

!/stacks/networks/docker-compose.yml

/stacks/container_registry/*
!/stacks/container_registry/docker-compose.yml

/stacks/etherpad/private/*
/stacks/etherpad/var/*

/.idea/

*.env
.DS_Store
.pnpm-store

docker-compose.override.yml