.vagrant
*.temp
**/spec/examples.txt
unifi
*.pyc
__pycache__

*.gz

/ssl/*

/zigbee2mqtt/*
!/zigbee2mqtt/configuration.yaml

/appdaemon/secrets.yaml

/config/*
!/config/configuration.yaml
!/config/customize.yaml
!/config/automations.yaml
!/config/blueprints/
!/config/scenes.yaml
!/config/scripts.yaml
!/config/sensor.yaml
!/config/custom_components/
!/config/www/
config/www/floorplans/
config/www/media/
config/www/tmp/
!/config/ui_lovelace_minimalist/
!/config/themes/
!/config/dwains-dashboard/
!/config/zigbee2mqtt
/config/zigbee2mqtt/*
!/config/zigbee2mqtt/configuration.yaml

*.glb
*.old

/find3/data/*

/influxdb/
/grafana/
/adguard/workdir/

/swag/etc/
/swag/log/
/swag/keys/
/swag/fail2ban/*
!/swag/fail2ban/filter.d/
!/swag/fail2ban/action.d/
!/swag/fail2ban/jail.local
/swag/nginx/*
!/swag/nginx/nginx.conf
!/swag/nginx/proxy.conf
!/swag/nginx/ssl.conf
!/swag/nginx/proxy-confs
/swag/nginx/proxy-confs/*
!/swag/nginx/proxy-confs/grocy.subdomain.conf
!/swag/nginx/proxy-confs/homeassistant.subdomain.conf
!/swag/nginx/proxy-confs/portainer.subdomain.conf
!/swag/nginx/site-confs
/swag/nginx/site-confs/*
!/swag/nginx/site-confs/default.conf

/.idea/

.env
.DS_Store
.pnpm-store

docker-compose.override.yml